body {
    background-color: rgb(28, 28, 30);
    cursor: pointer;
}


h1.style {
    color: lightblue;
    text-align: center;

}


button {
    background-color: lightblue;
    color: black;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    cursor: pointer;
}



div {
    text-align: center;
    box-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

p {
    color: white;
}